@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,500&display=swap');

body {
    font-family: Raleway, sans-serif;
    margin: 0;
}

.notes-navigation-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(86, 147, 179);
    padding: 0 20px 0 20px;

}

.notes-navigation-heading,
.notes-navigation-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.notes-navigation-link {
    text-decoration: none;
}

.notes-navigation-link-active {
    color: rgb(192, 143, 238);
    text-decoration: underline;
}

.notes-navigation-link-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    color: rgb(255, 255, 255);
}

.notes-navigation-link-item {
    margin-left: 15px;
}

.navigation-add-notes-button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway, sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.notes-home-div {
    text-align: center;
    font-size: 40px;
}

.notes-header {
    font-size: 60px;
    color: rgb(243, 138, 130);
}